Intersection of 2 arrays

In [15]:
def intersection( nums1, nums2):
    s1 = set(nums1)
    s2 = set(nums2)
    return list(s1.intersection(s2))

In [19]:
intersection([9,8,4,5],[7,8,9,4])

[8, 9, 4]

In [20]:
intersection([1,2,5,7],[3,2,5,8])

[2, 5]

Rat count House

In [50]:
def ratcount(arr,n,r,unit):
    if n == 0:
        return -1
    totalfoodrequired = r * unit
    foodTillNow = 0
    for house in range (n):
        foodTillNow += arr[house]
        if foodTillNow >= totalfoodrequired:
            break
    if foodTillNow < totalfoodrequired:
        return 0
    return house+1

In [52]:
ratcount(arr=[2,8,3,5,7,4],n=8,r=7,unit=2)

4

In [54]:
ratcount(arr=[],n=0,r=7,unit=2)

-1

Find the factors of the given numbers and print their num in the list
input = 12
output = [1,2,3,4,6]

In [69]:
def factor(num):
    factor=[]
    for i in range(1, (num + 1)):
        if num%i == 0:
            factor.append(i)
    return factor

In [72]:
factor(12)

[1, 2, 3, 4, 6, 12]

Using List Comprehension

In [73]:
#append for if
def fact(num):
    if num <= 0:
        return 0
    mylist = [i for i in range(1,num+1) if num%i == 0 ] #List comprehension
    return mylist

In [75]:
fact(35)

[1, 5, 7, 35]

Reverse a string using stack/array
input = 'kill'
output = 'llik'

In [3]:
class mystack:
    def __init__(self):
        self.st = []
    def revstr(self,mystr):   #kill
        result = ''
        for i in mystr:   #i = k
            self.st.append(i)   #push
        for i in range(len(self.st)):   #0,1,2,3
            poped = self.st.pop()
            result = result + poped
        return result

In [4]:
B = mystack()
B.revstr("kick")

'kcik'

Find the missing number

In [7]:
def missingnum(arr):
    for i in range(1,arr[-1]+1):
        if i not in arr:
            return i*'*'

In [11]:
missingnum([1,2,3,4,6])

'*****'

In [30]:
ord('A')

65

In [33]:
ord('Z') - 64

26

Excel sheet column number

In [34]:
def col(name):
    result = 0
    for i in name:
        result = result * 26 + ord(i)-64
    return result

In [35]:
col('AAA')

703

In [49]:
col('bhavya')

422863851

Demonstrate ATM functions
Get the name, fetch the pin from dictionary , if the pin matches proceed or print "Invalid pin"
- Option 1 : Withdrawal
- Option 2 : Deposit
- Option 3 : Balance enquiry
- Option 4 : Offers on FD
- Option 5 : Change ATM pin
- Option 6 : Quit

In [1]:
def atm():
    print("Welcome to SBI bank")
    pins = {"Jwalitha" : "4555", "Bhavya" : "2586", "Anu" : "3692", "Sihi" : "2468", "Ani" : "9513"}
    bal = {"Jwalitha" : 20000, "Bhavya" : 30000, "Anu" : 40000, "Sihi" : 50000, "Ani" : 60000}
    name = input("Enter your name:")
    pin = input("Enter your pin:")
    if pins[name] != pin:
        return "Invalid pin"

In [2]:
atm()

Welcome to SBI bank

Enter your name: Bhavya
Enter your pin: 2586

In [5]:
def atm():
    print("Welcome to SBI bank")
    pins = {"Jwalitha" : "4555", "Bhavya" : "2586", "Anu" : "3692", "Sihi" : "2468", "Ani" : "9513"}
    bal = {"Jwalitha" : 20000, "Bhavya" : 30000, "Anu" : 40000, "Sihi" : 50000, "Ani" : 60000}
    name = input("Enter your name:")
    pin = input("Enter your pin:")
    if pins[name] != pin:
        return "Invalid pin"
    while True:
        choices = "Option 1 : Withdrawal\n Option 2 : Deposit \n Option 3 : Balance Enquiry \n Option 4 : Offers \n Option 5 : Change Pin \n Option 6 :Quit"
        print(choices)
        choice = int(input("Enter your choice:"))
        if choice == 1:
            print("WITHDRAW")
            w = int(input("Enter the withdrawal amount:"))
            if w > bal[name]:
                print("Insufficient Funds")
            else :
                bal[name] = bal[name] - w
        elif choice == 2:
            print("DEPOSIT")
            d = int(input("Enter the deposit amount"))
            bal[name] = bal[name] + d
        elif choice == 3:
            print("Your current bank balance is:",bal[name])
        elif choice == 4:
            print("FD rates or high if you lock 1L for 5 years")
        elif choice == 5:
            newpin = int(input("Enter your pin:"))
            pins[name] = newpin
            print("Pin updated") 
        elif choice == 6:
            break

In [3]:
atm()

Welcome to SBI bank

Enter your name: Bhavya
Enter your pin: 2586

Option 1 : Withdrawal
 Option 2 : Deposit
 Option 3 : Balance Enquiry
 Option 4 : Offers
 Option 5 : Change Pin
 Option 6 :Quit

Enter your choice: 1

WITHDRAW

Enter the withdrawal amount: 10000

Option 1 : Withdrawal
 Option 2 : Deposit
 Option 3 : Balance Enquiry
 Option 4 : Offers
 Option 5 : Change Pin
 Option 6 :Quit

Enter your choice: 3

Your current bank balance is: 20000
Option 1 : Withdrawal
 Option 2 : Deposit
 Option 3 : Balance Enquiry
 Option 4 : Offers
 Option 5 : Change Pin
 Option 6 :Quit

Enter your choice: 2

DEPOSIT

Enter the deposit amount 20000

Option 1 : Withdrawal
 Option 2 : Deposit
 Option 3 : Balance Enquiry
 Option 4 : Offers
 Option 5 : Change Pin
 Option 6 :Quit

Enter your choice: 4

FD rates or high if you lock 1L for 5 years
Option 1 : Withdrawal
 Option 2 : Deposit
 Option 3 : Balance Enquiry
 Option 4 : Offers
 Option 5 : Change Pin
 Option 6 :Quit

Enter your choice: 5
Enter your pin: 4568

Pin updated
Option 1 : Withdrawal
 Option 2 : Deposit
 Option 3 : Balance Enquiry
 Option 4 : Offers
 Option 5 : Change Pin
 Option 6 :Quit

Enter your choice: 6

In [4]:
bal = {"Jwalitha" : 20000, "Bhavya" : 30000, "Anu" : 40000, "Sihi" : 50000}
print(bal["Jwalitha"])

20000

Removing the Nth Node from Linked list

In [57]:
class linkedlist:
    class Node:
        def __init__(self,data):
            self.data = data
            self.next = None
    def __init__(self):
        self.head = None
    def insertbeg(self,data):
        newnode = linkedlist.Node(data)
        newnode.next = self.head
        self.head = newnode
    def traverse(self,current):
        current = self.head
        while current:
            print(current.data,end="-->")
            current = current.next
        print(None)
    def nodefromrev(self,n):
        count = 0
        current = self.head
        while current:
            count = count + 1
            current = current.next
        if count == n:
            return self.head.next
            #finding before node
        ptr1 = self.head
        for _ in range(count-n-1):
            ptr1 = ptr1.next
        ptr1.next = ptr1.next.next
        return self.head

In [58]:
LL = linkedlist()
LL.insertbeg(60)
LL.insertbeg(65)
LL.insertbeg(70)
LL.insertbeg(75)
LL.insertbeg(80)

In [59]:
LL.traverse(linkedlist)

80-->75-->70-->65-->60-->None

In [60]:
LL.nodefromrev(2)

In [61]:
LL.traverse(linkedlist)

80-->75-->70-->60-->None